body {
  background: #ccc;
  color: #fff;
  font-family: 'Courier New', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

#container {
  margin: 30px auto;
}

#board {
  list-style: none;
  margin: 0;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  position: relative;
}


.title {
  transform: translateY(-50%);
  text-align: center;
  font-size: 10px;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

#board li {
  background-color: aquamarine;
  width: 40px;
  height: 40px;
  color: #000;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

#board li.pressed {
  background: rgba(127, 255, 212, 0.301);
  box-shadow: none;
  color: #fff;
}

#timer {
  font-size: 4rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

#btn {
  margin-top: 10px;
  margin-right: 7px;
  cursor: pointer;
  user-select: none;
  background-color: rgb(115, 0, 255);
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  box-shadow: 0 10px 0 rgb(93, 0, 255);
}

/* 疑似要素 */
#btn:active {
  margin-top: 20px;
  box-shadow: none;
}


@media (max-width: 500px) {
  #board .title {
    font-size: 10px;
  }

  #board li {
    width: 40px;
    height: 40px;
    color: #000;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
}
